
* {
	box-sizing: border-box;
}
body {
	color: #393939;
	font-size: 13px;
	font-family: "Myriad Pro", "Open Sans";
	background-color: #fff;
}
ul {
	margin: 0px;
}
li {
	list-style-type: none;
}
a{ 
	color: #393939;
	text-decoration: none;
}
p {
	margin: 0px;
}
input, button, select {
	outline: none;
}
/*ul li :last-child {
	border-left: none !important;
}*/
div.top_bar {
	background-color: #F8F8F8;
	padding: 0px 85px;
	border-bottom: 1px solid #D9D9D9;
	display: flex;
	height: 3em;

}
div.top_bar ul {
	margin: 0px;
	padding-left: 0px;
	position: relative;
}
div.top_bar ul li {
	display: inline-block;
	padding: 1em 0;
}
div.top_bar ul li a {
	border-right: 1px solid #D9D9D9;
	padding: 0 1em;
}
div.top_bar .top_bar_left {
	float: left;
	display: flex;
	width: 50%;
}
div.top_bar .top_bar_right {
	float: right;
	display: flex;
	width: 50%;
	justify-content: flex-end;
}
div.top_bar ul li> .sub-ul {
	display: none;
	position: absolute;
}
div.top_bar ul li:hover> .sub-ul {
	display: flex;
	flex-direction: column;
	z-index: 1;
	background-color: #5BB300;
	opacity: 50%;
	border-radius: 7px;
	top: 38px;
}
div.top_bar ul li:hover> .sub-ul li {
	border: 1px solid #fff;

}
div.top_bar ul li:hover> .sub-ul li a{
	border-right: none;
	color: #fff !important;

}
.container {
	background-color: #fff;
	margin: 0px 85px;
}
.container .header-content img {
	line-height: auto;
	margin-right: 40px;
}
.container .header-content {
	display: inline-block;
	padding: 45px 0px;
	position: relative;
}
.container .header-content .fa {
	color: #5BB300;
	font-size: 1.2em;
}
.header-content-center {
	width: 600px;
}
.portal-search {
	/*width: 50%;*/
	display: flex;
	margin-top: 10px;
}
.portal-search .portal-search-wrap{
	border: 2px solid #CECECE;
	border-right: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	width: 85%;
	/*flex: 1;*/
}
.portal-search .portal-search-wrap input {
	padding: 15px 25px;
	border: none;
	flex: 1;
	/*box-sizing: border-box;*/
	width: 62%;
}
.portal-search .portal-search-wrap input:focus {
	outline: 0;
}
.portal-search .portal-search-wrap select {
	border: none;
	color: #7E7E7E;
	float: right;
	margin: 15px;
}
.portal-search .portal-search-wrap select:first-child {
	border: 1px solid #CECECE !important;

}
.portal-search button {
	border: none;
	background-color: #5BB300;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 12%;
}
.portal-search button .fa {
	color: #fff !important;
	font-size: 20px;
}
.header-content .wish-comp {
	/*position: absolute;*/
	/*top: 50px;*/
}
.header-content .wish-comp span{
	color: #CECECE !important;
	font-size: 13px !important;
}
.shop-cart {
	position: relative;
}
.shop-cart img {
	margin-left: 20px;
	margin-right: 5px !important;
}
.circle-number {
	background-color: #5BB300;
	color: #fff;
	font-weight: bolder;
	padding: 7px;
	border-radius: 50%;
	position: absolute;
	transform: translateY(-180%);
	left: 50%;
	/*transform: translateX(50%);*/
}
.portal-menu {
	background-color: #5BB300;
	height: 100%;
}
.portal-menu ul {
	margin: 0px 20px;
}
.portal-menu ul li {
	display: inline-block;
	padding: 20px;
	border-right: 1px solid #56AA00;

}
.portal-menu ul li a {
	color: #fff !important;
	font-size: 16px;
}
.cart-text p:last-child {
	color: #5BB300;
	font-size: 24px;
	font-weight: bolder;
}
content .slider {
	background-color: #F6F6F6;
	padding: 60px 85px;
	display: flex;
}
content .slider .slider-img {
	width: 66.67%;
	height: auto;
}
content .slider .slider-text {
	width: 33.33%;
	color: #636363;
}
content .slider .slider-text .text-line1 {
	font-size: 46px;
}
content .slider .slider-text .text-line2 {
	font-size: 90px;
	font-weight: bolder;
}
content .slider .slider-text .text-line3 {
	font-size: 29px;
}
content .slider .slider-text .text-line4 {
	font-size: 12px;
	margin-top: 20px;
}
button.green-btn {
	padding: 20px 30px;
	background-color: #5BB300;
	color: #fff;
	font-size: 16px;
	font-weight: bolder;
	border: none;
	border-radius: 5px;
}
content .banners {
	background-color: #fff;
	padding: 30px 85px;
	display: flex;
}
.banners .banner_1 {
	background-color: #F6F6F6;
	margin-right: 30px;
	color: #586A81;
	padding: 50px 25px;
	width: 50%;
}
.banner_text_1 {
	font-size: 36px;
	font-weight: bolder;
}
.banner_text_2 {
	font-size: 21px;
}
.banners .banner_2 {
	background-color: #F6F6F6;
	margin-right: 30px;
	color: #636363;
	padding: 50px 25px;
	width: 50%;
}
content .featured-products-tabs {
	background-color: #fff;
	padding: 25px 85px 0px 85px;
	display: flex;
}
content .featured-products-tabs .tabs-products {
	color: #3F3C3D;
	background-color: #F6F6F6;
	font-size: 15px;
	padding: 20px 50px;
	margin-right: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	transition: 0.5s;
}
content .featured-products-tabs .active {
	color: #fff;
	font-size: 19px;
	background-color: #5BB300;
	font-weight: bolder;
}
.featured-products-tabs .active a {
	color: #fff;
	padding: 20px 40px;
}
.products {
	/*display: none;*/
	display: flex;
	margin: 0px 85px;
	padding-bottom: 10px;
}
.products .product-m {
	border: 1px solid #E8E8E8;
	width: 24%;
	position: relative;
}
.products .product-m img{
	width: 100%;
}
.product-info {
	margin: 30px 35px;
}
.product-info .product-title {
	border-bottom: 1px solid #ECECEC;
	height: 5.3em;
}
.product-info .product-title a {
	font-size: 14px;
	color: #1158AB;
	font-weight: bolder;
}
.product-info .product-title p {
	font-size: 10px;
	margin: 10px 0px 25px;
}
.load-more {
	text-align: center;
	margin: 30px auto;
}
.load-more a{
	color: #979797 !important;

}
.price {
	display: flex;
	font-weight: bolder;
	padding: 15px 0px;
}
.price .price-old {
	font-size: 14px;
	color: #B7B7B7;
	width: 60%;
}
.price .price-new {
	font-size: 18px;
	color: #321C54;
	width: 100%;
	float: left;
}
.products .product-m {
	transition: 0.5s;
}
.products .product-m .product-info {
	position: relative;
}
.product-add {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	text-align: center;
	border: 1px solid #E8E8E8;
	border-top: none;
	transform: translateY(70%);
}
.product-add span {
	color: #CECECE;
	padding: 1em 0;
}
.products .product-m:hover {

}
.products .product-m:hover .product-add {
	display: block;
	position: absolute;
}

.product-info .product-add .green-btn{
	margin: 0 auto;
}
.product-info .product-add .product-recomment {
	display: flex;
	margin: 15px auto;
	text-align: center;
}
.product-info .product-add .product-recomment .fa {
	color: #CECECE;
	font-size: 13px;
}
.product-add .product-recomment .fa-heart {
	width: 50%;

}
.product-add .product-recomment .fa-lish {
	width: 50%;
	float: left;
}
.tag {
	position: absolute;
	margin-top: 10px;
}
.tag p {
	color: #fff;
	font-size: 11px;
	padding: 10px;
}
.sale-tag {
	background-color: #f94a4a;
}
.new-tag {
	background-color: #4081d0;
}
.rectangle-tag {
	background-color: #5BB300;
	position: absolute;
	margin-left: 2.7em;
}
.rectangle-tag p {
	color: #fff;
	font-size: 11px; 
	padding: 3px;
	padding-bottom: 0px;
}
.bestseller-tag {
	background-color: #5BB300;
}


.inline {
	display: flex;
}
.inline .heading {
	width: 25%;
}
.inline .border {
	width: 70%;
}
.inline .next-view {
	width: 5%;
	justify-content: flex-end;
	margin: auto;
}
.inline .next-view .fa {
	font-size: 2em;
	color: #D2D2D2;
}
.bestsellers {
	background-color: #F6F6F6;
	padding: 65px 85px;
	/*margin-bottom: 30px; */
}
.bestsellers-all {
	display: flex;
}
.heading {
	color: #0F0F0F;
	font-size: 34px;
	margin-bottom: 30px;
	margin-right: 15px;
	display: inline-block;
}
.bestsellers .bestsellers-wrap {
	display: flex;
	flex-wrap: wrap;
	width: 60%;
	/*display: inline-block;*/
}
.bestsellers-m {
	width: 33.33%;
	border: 1px solid #E8E8E8;
}
.bestsellers-m img{
	width: 100%;
}
.bestsellers-m .price-new {
	/*float: left;*/
}
.bestsellers-m .price {
	/*padding-bottom: 0px;*/
	float: right;
}
.bestsellers-m .product-info {
	margin: 20px 35px;
}
.bestsellers-b {
	width: 39%;
	border: 1px solid #E8E8E8;
	float: left;
}
.bestsellers-b .describle-b {
	margin: 30px 45px;
	display: inline-flex;
}
.bestsellers-b .describle-text-b {
	margin: 0px 45px 30px;
	padding-bottom: 35px;
	border-bottom: 1px solid #ECECEC;
}
.bestsellers-b .describle-price-b {
	float: right;
	margin: 0px 45px 30px;
}
.bestsellers-b .describle-price-b p {
	display: inline-flex;
	font-size: 26px;
	color: #321C54;
	font-weight: bolder;
	margin: 0px;
}
.bestsellers-b .describle-price-b button {
	margin: 0px;
}
.bestsellers-b img {
	width: 100%;
	border: 1px solid #E8E8E8;

}
.bestsellers-b img:hover {
	border-bottom: 3px solid #5BB300;
}
.bestsellers-b a {
	font-size: 21px;
	color: #1158AB;
	font-weight: bolder;
}
.recently-viewed {
	padding: 65px 85px;
	background-color: #fff;
}
.recently-viewed .heading {
	position: relative;
}

span.border {
	border-top: 1px solid red;
	width: 80%;
}
.recently-viewed-wrap {
	display: flex;
}
.recently-viewed-wrap .product-m {
	width: 100%;
	border: 1px solid #E8E8E8;
	
}
.recently-viewed-wrap .product-m .product-info {
	margin: 15px;
}
.recently-viewed-wrap .product-m img {
	width: 100%;
}
.recently-viewed-wrap .product-m .price {
	float: right;
}
.top-brands {
	padding: 15px 85px 80px;
	background-color: #fff;

}
.top-brands .envato-logos {
	display: flex;
}
.top-brands .envato-logos img {
	padding: 30px 16px;
	margin-right: 25px;
	border: 1px solid #E8E8E8;
}
footer {
	background-color: #F8F8F8;
	border-top: 1px solid #EEEEEE;
}
.footer-top {
	padding: 50px 85px;
}
.columns-products {
	display: flex;
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 70px;
}
.columns-products .column-m {
	margin-right: 45px;
	width: 30%;
	position: relative;
}
.columns-products .column-m:last-child {
	margin-right: 0px;
}
.columns-products .column-m .column-d {
	display: flex;
	padding: 25px 0px;
}
.columns-products .column-m .column-d img {
	/*float: right;*/
	justify-content: flex-end;
	margin-left: 60px;
}
.column-d .product {
	flex: 1;
}
.column-d .product .product-line1 {
	font-size: 14px;
	color: #175BAD;
	font-weight: bolder;
	margin: 5px 0px;
}
.column-d .product .product-line2 p {
	display: inline-block;
}
.column-d .product .product-line2 p:first-child {
	font-size: 12px;
	color: #909090;
	text-decoration: line-through;
}
/*.column-d .product .product-line2 p:last-child {

}*/
.columns-products .column-m .column-title {
	padding: 20px auto;
	border-bottom: 1px solid #E8E8E8;

}
.columns-products .column-m .column-title p{
	color: #0B0B0B;
	font-size: 21px;
	font-weight: bolder;

}
.subscible-wrap {
	margin: auto;
	position: relative;
	top: 0px;
	transform: translateY(-50%);
	display: flex;
	justify-content: center;
}
.subscible-wrap input {
	height: 60px;
	width: 50%;
	padding-left: 20px;
	border: 1px solid #E8E8E8;
	border-right: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.subscible-wrap button {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.footer-info {
	margin: 40px 0px;
	display: flex;
	font-size: 14px;
	color: #585858;
}
.info-logo {
	width: 41.67%;
	margin-right: 70px
}
.info-logo p {
	padding: 40px 0px;
}
.info-logo a {
	color: #5BB300;
	text-decoration: underline;
}
.touch {
	font-weight: bolder;
	font-size: 16px;
	padding-bottom: 20px !important;
}
.recommend-info {
	width: 19.44%;
	margin-right: 70px;
}
.recommend-info a{
	color: #585858;
	line-height: 2.5em;
}
.footer-bottom {
	background-color: #3F3F3F;
	padding: 25px 85px;
	display: flex;
}
.footer-bottom-left {
	color: #808080;
	font-size: 14px;
	width: 75%;
	margin: auto;
}
.footer-bottom-left .media-center {
	color: #F5F5F5;
	font-weight: bolder;
}
.footer-bottom-right {
	float: right;
	width: 25%;
}